<style>
  .image {
    width: 35%;
    height: auto;
  }
</style>

<div ng-app="AmazonApp">
  <div ng-controller="MainCtrl">
    <div ng-repeat="item in items">
      <h1>{{item.name}}</h1>
      <img src="{{item.url}}" class="image">
      <p>
        {{item.description}}<br>
        Price: ${{item.price}}<br>
        Quantity: {{item.quantity}}<br>
      </p>
      <button ng-click="addToCart(item)">GIMMA DIZ ITEM!</button>
    </div>
    <div>
      <h2>WUT U GOT IN YO CART:</h2>
      <div ng-repeat="item in cart.items">
        <p>{{item.name}} x{{item.amountInCart}} <button ng-click="removeFromCart(item)">Remove 1 of {{item.name}}</button></p>
      </div>
      <div>
        <!-- <p>Number of items in cart: {{cart.items.length}}</p> -->
        <p>Cart total: {{cart.total}}</p>
      </div>
    </div>
  </div>
</div>