<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" %>

<style>
  .image {
    width: auto;
    height: 10em;
  }

  body {
    background: transparent;
    background-image: url('http://www.akcli-voh.org/wp-content/uploads/2013/10/background2.jpg');
  }
</style>

<div ng-app="AmazonApp">
  <div ng-controller="CartCtrl">
    <h2>WUT U GOT IN YO CART:</h2>
    <div class="container-fluid">
      <div class="row">
        <div ng-repeat="item in cart.items" class="col-md-2">
          <p>{{item.name}} x{{item.cartQn}} <button ng-click="removeFromCart(item)" class="btn btn-warning btn-xs active">Drop 1</button></p>
        </div>
      </div>
    </div>
    <div>
      <p>Number of items in cart: {{cart.totalItems}}</p>
      <p>Cart total: ${{cart.totalPrice}}</p>
      <input type="text" placeholder="Wuz yo name?" ng-model="person.name" />
      <button ng-click="checkout(cart.totalPrice, person.name, cart.items)" class="btn btn-primary active">wuuuz up u rdy to orda? click diz n imma chex u out</button>
    </div>
  </div>
  <div ng-controller="ItemsCtrl" class="container-fluid">
    <div class="row">
      <div ng-repeat="item in items" class="col-md-3">
        <h2>{{item.name}}</h2>
        <img src="{{item.url}}" class="image">
        <p>
          {{item.description}}<br>
          Price: ${{item.price}}<br>
          Quantity: {{item.quantity}}<br>
        </p>
        <button ng-click="addToCart(item)" ng-disabled="item.isDisabled">GIMMA DIZ ITEM!</button>
      </div>
    </div>
  </div>
</div>

