<div class='centerthis'>

  <h2>HOW STRONG YO CART GAME?</h2>
  <div>
    <p>
      <b>
        Number of items in cart: {{cart.totalItems}}<br>
        Cart total: ${{cart.totalPrice}}
      </b>
    </p>
    <div class="row">
      <form name="myForm" novalidate>
        <div class="small-6 small-centered columns">
          <input type="text" placeholder="Maeby Fünke" ng-model="person.name" name="nameBox" ng-maxlength="20" required />
        </div>
        <button ng-click="checkout(cart.totalPrice, person.name, cart.items)" class="button small round secondary" ng-disabled="myForm.nameBox.$invalid">wuuuz up u rdy to orda? click diz n imma chex u out</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="item in cart.items">
      <div class="small-3 columns">
        <p>
          {{item.name}} x{{item.cartQn}}<br>
          <button ng-click="removeFromCart(item)" class="button tiny alert round" >Drop 1</button>
        </p>
      </div>
    </div>
  </div>

</div>