<div class="large-12 columns">
  <div class="row">
    <div ng-repeat="item in items">
      <div class="large-3 small-5 columns">
        <h3 class="centerthis">{{item.name}}</h3>
        <p class="centerthis"><img ng-src="{{item.url}}" class="image"></p>
        <div class="panel">
          <p>
            <b>{{item.description}}</b><br>
            Price: ${{item.price}}<br>
            Quantity: {{item.quantity}}<br>
          </p>
          <button ng-click="addToCart(item)" ng-disabled="item.isDisabled" class="button small success round">GIMMA DIZ ITEM!</button>
        </div>
      </div>
    </div>
  </div>
</div>