<div class="row">
  <div ng-repeat="order in orders">
    <div class="medium-6 large-3 columns panel">
      <p>
        Name: <b>{{order.person.charAt(0).toUpperCase() + order.person.slice(1) || "***N/A***"}}</b><br>
        Order #: {{order.id}}<br>
        Order $: {{order.cost}}<br>
        Date: {{order.created_at.slice(0,10)}}
      </p>
    </div>
  </div>
</div>